<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>396552600935-uqli5gt1ielsngfrpev1lmcbrsqvjsd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396552600935-uqli5gt1ielsngfrpev1lmcbrsqvjsd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBl7D3wUcvq1fL7p05ol-E66UT2Ut2hcVE</string>
	<key>GCM_SENDER_ID</key>
	<string>396552600935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanjin.luxalog</string>
	<key>PROJECT_ID</key>
	<string>luxalog-45408</string>
	<key>STORAGE_BUCKET</key>
	<string>luxalog-45408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:396552600935:ios:59ac33c98d2193fa</string>
	<key>DATABASE_URL</key>
	<string>https://luxalog-45408.firebaseio.com</string>
</dict>
</plist>